body{
   background-color: #36d9d9;
   margin:0;
 }

/* #wrapperDiv{  id wrapperDiv
 height: 800px;
 width: 900px;
 margin:auto;
 /* margin-top: 20px; */
} */

#buttonMenuDiv{
  height: 200px;
  width: 900px;
  background-color: lightgreen;
}

#tileDiv{   // class tile
  float:right;
  padding:30px;
  width:40px;
  height:35px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: purple;
  border-radius: 100%;
  border: solid black 2px;
}

#tileMenuDiv{
  float: right;
  background-color: white;
  width:auto;
  height:auto;
  border: solid black 2px;
}
